<a href="https://colab.research.google.com/github/IdaSharonJ/Python-exercises/blob/main/Inheritance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#parent_class
class person:
    def __init__(self,name,Id):
        self.name = name
        self.Id= Id
        
    def display(self):
        print(self.name)
        print(self.Id)

In [3]:
#child class 1
class Student( person ):            
        def __init__(self, name, Id, attendance): 
                self.attendance = attendance 
    
                
                person.__init__(self, name, Id)  
          
        def show(self):
            print(self.attendance)

In [4]:
a = Student('Mamtha', 948947, 94)     
    

a.display()
a.show()

Mamtha
948947
94

In [5]:
#child class 2
class Marksheet( person ):            
        def __init__(self, name, Id, maths, science, social): 
                self.maths = maths
                self.science = science
                self.social = social
    
                
                person.__init__(self, name, Id)  
          
        def show(self):
            print(self.maths)
            print(self.science)
            print(self.social)

In [6]:
a = Marksheet('Gomathy', 948946, 40, 38, 47)     
    

a.display()
a.show()

Gomathy
948946
40
38
47

In [12]:
#child class 3

class Employee(person):
  def __init__(self,name, Id, salary):
    self.salary = salary
    
    person.__init__(self, name, Id)  
  
  def show(self):
    print(self.salary)

In [13]:
i = Employee("Jyothika", 28937, 100000)

i.display()
i.show()

Jyothika
28937
100000